### MACRO TO TEST ENDSTOPS ENDLESSLY, NO REFRESHING REQUIRED ##
#[gcode_macro ENDSTOP_WATCH_START]
#variable_enabled: 0
#gcode:
#  SET_GCODE_VARIABLE MACRO=ENDSTOP_WATCH_START VARIABLE=enabled VALUE=1
#  UPDATE_DELAYED_GCODE ID=ENDSTOP_WATCH_LOOP DURATION=0.5

#[gcode_macro ENDSTOP_WATCH_STOP]
#gcode:
#  SET_GCODE_VARIABLE MACRO=ENDSTOP_WATCH_START VARIABLE=enabled VALUE=0

#[delayed_gcode ENDSTOP_WATCH_LOOP]
#gcode:
#  {% if printer["gcode_macro ENDSTOP_WATCH_START"].enabled == 1 %}
#    QUERY_ENDSTOPS
#    UPDATE_DELAYED_GCODE ID=ENDSTOP_WATCH_LOOP DURATION=0.5
#  {% endif %}

### FAN LOOP CONTROL MACRO ###
[delayed_gcode fan_monitor_loop]
initial_duration: 1
gcode:
  _UPDATE_HOTEND_FAN
  _UPDATE_MAINBOARD_FAN
  _UPDATE_CHAMBER_FAN
  _UPDATE_STEPPER_FAN
  UPDATE_DELAYED_GCODE ID=fan_monitor_loop DURATION=5


### HOTEND FAN SPEED CONTROL MACRO, DEPENDENT ON DESIRED TEMPERATURE ###
[gcode_macro _UPDATE_HOTEND_FAN]

variable_last_speed: -1
variable_off_temp: 45
variable_min_temp: 240
variable_max_temp: 300
variable_min_speed: 0.60
variable_max_speed: 0.80

gcode:
  {% set cfg = printer["gcode_macro _UPDATE_HOTEND_FAN"] %}

  {% set t = printer.extruder.temperature %}

  {% set last = cfg.last_speed %}


  {% if t < cfg.off_temp %}
    {% set new_speed = 0.0 %}

  {% elif t < cfg.min_temp %}
    {% set new_speed = cfg.min_speed %}

  {% elif t >= cfg.max_temp %}
    {% set new_speed = cfg.max_speed %}

  {% else %}
    {% set frac = (t - cfg.min_temp) / (cfg.max_temp - cfg.min_temp) %}
    {% set new_speed = cfg.min_speed + frac * (cfg.max_speed - cfg.min_speed) %}
  {% endif %}

  {% if new_speed != last %}
    SET_FAN_SPEED FAN=Hotend SPEED={new_speed}
    SET_GCODE_VARIABLE MACRO=_UPDATE_HOTEND_FAN VARIABLE=last_speed VALUE={new_speed}
  {% endif %}


### CHAMBER FAN SPEED CONTROL MACRO, DEPENDENT ON CHAMBER TEMPERATURE SENSOR ###
[gcode_macro _UPDATE_CHAMBER_FAN]
variable_last_speed: -1
variable_off_temp: 28
variable_min_temp: 30
variable_max_temp: 40
variable_min_speed: 0.10
variable_max_speed: 0.80

gcode:
  {% set cfg = printer["gcode_macro _UPDATE_CHAMBER_FAN"] %}

  {% set t = printer["temperature_sensor Chamber"].temperature %}

  {% set last = cfg.last_speed %}

  {% if t < cfg.off_temp %}
    {% set new_speed = 0.0 %}

  {% elif t >= cfg.max_temp %}
    {% set new_speed = cfg.max_speed %}

  {% elif t >= cfg.min_temp %}
    {% set frac = (t - cfg.min_temp) / (cfg.max_temp - cfg.min_temp) %}
    {% set new_speed = cfg.min_speed + frac * (cfg.max_speed - cfg.min_speed) %}

  {% else %}
    {% set new_speed = last %}
  {% endif %}

  {% if new_speed != last %}
    SET_FAN_SPEED FAN=Chamber_Intake SPEED={new_speed}
    SET_FAN_SPEED FAN=Chamber_Exhaust SPEED={new_speed}
    SET_GCODE_VARIABLE MACRO=_UPDATE_CHAMBER_FAN VARIABLE=last_speed VALUE={new_speed}
  {% endif %}


### MAINBOARD FAN SPEED CONTROL MACRO, DEPENDENT ON CM4 TEMPERATURE AND STEPPER MOTOR ACTIVATION ###
[gcode_macro _UPDATE_MAINBOARD_FAN]
variable_last_speed: -1

gcode:
  {% set cpu = printer["temperature_sensor CM4"].temperature %}
  {% set active =
      printer.stepper_enable.steppers.stepper_x or
      printer.stepper_enable.steppers.stepper_y or
      printer.stepper_enable.steppers.stepper_z or
      printer.heater_bed.target > 30
  %}

  {% if active %}
    {% set new_speed = 1.0 %}
  {% elif cpu > 40 %}
    {% set new_speed = 0.2 %}
  {% elif cpu < 35 %}
    {% set new_speed = 0.0 %}
  {% else %}
    {% set new_speed = printer["gcode_macro _UPDATE_MAINBOARD_FAN"].last_speed %}
  {% endif %}

  {% if new_speed != printer["gcode_macro _UPDATE_MAINBOARD_FAN"].last_speed %}
    SET_FAN_SPEED FAN=Mainboard SPEED={new_speed}
    SET_GCODE_VARIABLE MACRO=_UPDATE_MAINBOARD_FAN VARIABLE=last_speed VALUE={new_speed}
  {% endif %}


### STEPPER FAN SPEED CONTROL MACRO, DEPENDENT ON STEPPER MOTOR ACTIVATION ###
[gcode_macro _UPDATE_STEPPER_FAN]
variable_last_speed: -1

gcode:
  {% set active =
      printer.stepper_enable.steppers.stepper_x or
      printer.stepper_enable.steppers.stepper_y or
      printer.stepper_enable.steppers.stepper_z
  %}

  {% set new_speed = 1.0 if active else 0.0 %}

  {% if new_speed != printer["gcode_macro _UPDATE_STEPPER_FAN"].last_speed %}
    SET_FAN_SPEED FAN=Stepper SPEED={new_speed}
    SET_GCODE_VARIABLE MACRO=_UPDATE_STEPPER_FAN VARIABLE=last_speed VALUE={new_speed}
  {% endif %}

  ### BEEPER CONTROL MACROS ###

#[gcode_macro _TONE]
#gcode:
#    {% set dur = params.D|int %}
#    SET_PIN PIN=_beeper VALUE=0.04
#    G4 P{dur}
#    SET_PIN PIN=_beeper VALUE=0

    